{% extends 'base.html' %}

{% block content %}
    
    {% load static %}
    <main role="main">
       
      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">의상이의 포트폴리오</h1>
          <p class="lead text-muted">지금까지 제가 만든 작품들 입니다.</p>
        </div>
      </section>
      

      <div class="album py-5 bg-light">
        <div class="container">

          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img class="card-img-top" src="{%static 'neogul.jpg'%}" alt="첫번째 너굴">
                <div class="card-body">
                  <p class="card-text">너굴입니다.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">보기</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">편집</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
            {% for portfolio in portfolios.all %}
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img class="card-img-top" src="{{ portfolio.image.url }}" alt="Card image cap">
                <div class="card-body">
                    <h4>{{ portfolio.title}}</h4>
                  <p class="card-text">{{portfolio.description }}</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
    </main>

    <footer class="text-muted">
      <div class="container">
        <p class="float-right">
          <a href="#">Back to top</a>
        </p>
        <p>Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
        <p>New to Bootstrap? <a href="../../">Visit the homepage</a> or read our <a href="../../getting-started/">getting started guide</a>.</p>
      </div>
    </footer>

    {% endblock %}